.lb_we_do {
  background-image: linear-gradient(
    to right,
    rgb(3 15 39 / 69%),
    rgb(3 15 39 / 70%)
  );
  min-height: 70vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(5, 6, 66, 0.5);
}

.lb_whatwedo_title {
  color: #fff;
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 500;
}

.lb_topbanner_wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  box-shadow: inset 0 0 0 1000px #ff00005e;
  padding-top: 10%;
}

.lb_topbanner{
  padding: 20px;
  font-size: 50px;
  font-weight: 800;
  color: #012060;
  border-radius: 15px 0 0 15px;
}

@media only screen and (max-width: 600px) {
  .lb_topbanner_wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh;
    box-shadow: inset 0 0 0 1000px #ff00005e;
    padding-top: 10%;
  }

  .lb_topbanner{
    padding: 20px;
    font-size: 40px;
    font-weight: 800;
    color: #012060;
    border-radius: 15px 0 0 15px;
  }
}