* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  /* background: #ffffff; */
  /* border-radius: 90px; */
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  /* margin-left: auto;  */
  /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: red;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: -150px;
  width: 250px;
  height: 100vh;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

@media only screen and (max-width: 600px) {
  .menu {
    background: red;
    border-radius: 8px;
    position: absolute;
    top: 65px;
    right: 0px;
    width: 250px;
    height: 90vh;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(ty);
  z-index: 999;
  display: flex;
  flex-direction: row;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .menu li {
  border-bottom: 1px solid #dddddd;
} */

.menu li a {
  text-decoration: none;
  color: #fff;
  /* padding: -15px 20px; */
  display: block;
  text-align: center;
  margin-bottom: -10px !important;
}
